{% extends "blog/base.html" %}
{%  load crispy_forms_tags %}

{% block content %}
<style>
.center {
  margin: auto;
  border: 3px solid black;
  padding: 10px;
}
button{
    height:5%;
    width:15%;
    border-radius:22px;
}

</style>

<div class="center" style="width: 43%;background-color:lightgray;">
    <h1>
        <center>
        Blog Post:-
        </center>
        <hr>
    </h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <center>
        <button type="submit" style="background-color:lightgreen; color:green;">Post</button>
            &nbsp &nbsp
        <button type="reset" style="background-color:lightred; color:red;">Reset</button>
        </center>
    </form>


{% endblock content %}
