{% extends "blog/base.html" %}
{% block content %}
<style>
.center {
  margin: auto;
  border: 3px solid black;
  padding: 10px;
}
</style>

<div class="center"style="width: 33%; background-color:whitesmoke;">
 <center>
    Posts by {{ view.kwargs.username }}({{ page_obj.paginator.count }})
 </center>
</div>

{% for post in posts %}
<br>
<div class="center" style="width: 33%; background-color:lightgray;">
 <h1>
  <a href="{% url 'post_detail' post.id %}" style="text-decoration: none; color : black;">
      {{post.title}}
  </a>
 </h1>
 <h3>
  {{post.content}}
 </h3>
 <hr>
 <table>
  <tr>
   <td>
    <img src="{{ post.userid.profile.image.url }}" width="25" height="25"
             style="display: block;border-radius: 50%; align:left; border: 1px solid gray;">
   </td>
   <td>
    <p>
    By
     <a href="{% url 'user_posts' post.userid %}" style="text-decoration: none; color : blue;">
     {{post.userid.first_name}}
     <small>
        (@{{post.userid}})
    </small>
      </a>
   <small> on {{post.timestamp|date:"F d, Y"}}</small>
  </p>
   </td>
  </tr>
 </table>
 </div>
<br>
{% endfor %}
{% if is_paginated %}

<div>
<center>

 {%  if page_obj.has_previous %}
  <a  href="?page=1" style="color: black; border: 1px solid black; margin: 4px; padding: 4px;">First</a>
  <a  href="?page={{ page_obj.previous_page_number }}" style="color: black; border: 1px solid black; margin: 4px; padding: 4px;">Previous</a>
 {% endif %}


{% for num in page_obj.paginator.page_range %}

 {%  if page_obj.number == num %}
  <a  href="?page={{ num }}" style="color: black; border: 1px solid black; margin: 4px; padding: 4px;">{{ num }}</a>

{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
  <a  href="?page={{ num }}" style="color: black; border: 1px solid black; margin: 4px; padding: 4px;">{{ num }}</a>

 {% endif %}

{% endfor %}


{%  if page_obj.has_next %}
  <a  href="?page={{ page_obj.next_page_number }}" style="color: black; border: 1px solid black; margin: 4px; padding: 4px;">Next</a>
  <a  href="?page={{ page_obj.num_pages }}" style="color: black; border: 1px solid black; margin: 4px; padding: 4px;">last</a>
 {% endif %}

 </center>
</div>

{% endif %}

{% endblock content %}
