{% extends "blog/base.html" %}
{%  load crispy_forms_tags %}

{% block content %}
<style>
.center {
  margin: auto;
  border: 3px solid black;
  padding: 10px;
}
button{
    height:5%;
    width:15%;
    border-radius:22px;
}

</style>

<div class="center" style="width: 43%;background-color:lightgray;">
    <h2>Your password reset request have been completed, and password have been changed.</h2>
    <div>
        <hr>
        <small> Want to Login back? <a href="{% url 'login' %}"> Login here </a></small></div>
</div>


{% endblock content %}
