{% extends "blog/base.html" %}
{%  load crispy_forms_tags %}

{% block content %}
<style>
.center {
  margin: auto;
  border: 3px solid black;
  padding: 10px;
}
button{
    border-radius:22px;
    padding: 4px;
    margin : 2px;
}

</style>

<div class="center" style="width: 30%;background-color:lightgray;">
    <h1>
        <center>
        Reset Password For Existing User:-
        </center>
        <hr>
    </h1>
    <form method="post" >
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <center>
        <button type="submit"
                style="background-color:lightred; color:red; height : 7%; width : 20%;">
            Reset Password</button>
        </center>
    </form>
</div>


{% endblock content %}
